.mdx {
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  h1::before {
    content: '{ ';
    color: var(--primary);
  }
  h1::after {
    content: ' }';
    color: var(--primary);
  }
  h2 {
    font-size: 2rem;
    text-align: center;
  }
  h3 {
    text-decoration: underline;
    text-decoration-color: var(--primary);
    font-size: 1.5rem;
  }
  ul {
    border-block: dashed var(--pink-1);
    margin-block: 1em;
    padding-block: 1em;
    text-align: center;
    list-style: none;
  }
  .tutoring-when {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button {
    margin-block: 1em;
  }
}
