:root {
  --transition: all 0.2s ease-in-out;
}

.content {
  width: 90%;
  max-width: 800px;
  margin-inline: auto;
  color: var(--light);
  background-color: var(--dark);
  padding: 1em;

  & p {
    padding-block: 1em;
  }
}

.center {
  display: grid;
  place-content: center;
}

.shadow {
  filter: drop-shadow(0.1rem 0.2rem 0.1rem rgb(33 37 41 / 0.4));
}

.skew {
  transform: skew(-15deg);
}

.skew > * {
  transform: skew(15deg);
}

.pattern {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url('../assets/memphis.svg');
  background-size: 30%;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
