---
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Button.astro';
import { Icon } from 'astro-icon/components';
import Contact from '../components/Contact.astro';
import Appointment from '../components/Appointment.astro';

// import '../styles/mdx.css';

const title = 'Home';
---

<BaseLayout title={title}>
  <section class="content shadow tutoring">
    <h1>Free Math Tutoring</h1>
    <div class="tutoring-when">
      <!-- <h2>Appointment Availability</h2> -->
      <Icon name="calendar-check" /> 
      <p>In-person @Sumas Library</p>
      <p>Mondays, Wednesdays</p>
      <p>3pm - 6pm</p>
    </div>
    <p>
      Free tutoring is <strong>available by appointment</strong> every Monday & Wednesday that the Sumas Library is open.  Click the button below to check my availability and schedule a time to meet.
    </p>
    <Appointment />
    <p>
      Check out the <a href="/tutoring">tutoring page</a> for more information about how tutoring works, or the <a href="/about">about page</a> to find out more about me.
    </p>
  </section>
  <section class="content free-content">
    <h2>Free free?</h2>
    <p>Yes. I am volunteering my time and skills to serve my community. This is not a free trial, it is a free service.</p>
  </section>
  <section class="categories">
    <h2>Who is this for?</h2>
    <div class="content">
      <p>
        If you fall into any of the following categories, then a <span class="callout">free math tutoring session</span> may be for you!
      </p>
      <ul class="categories-list">
        <li>home-schoolers, summer-schoolers, and school-shoolers</li>
        <li>adult learners, second winders, and upskillers</li>
        <li>parents, guardians, BFFs, and acquaintances of math students</li>
        <li>people who like numbers and see patterns everywhere</li>
        <li>people who hate numbers and can't seem to get away from them</li>
        <li>builders, bakers, and candlestick-makers</li>
        <li>fans of the metric system of measurement</li>
        <li>fans of the US customary & imperial systems of measurement</li>
        <li>
          people who didn't know there were multiple systems of measurement
        </li>
        <li>anybody who is kept up at night by the idea of infinity</li>
      </ul>
    </div>
  </section>
  <section id="contact">
    <Contact />
  </section>
</BaseLayout>

<style>
  .tutoring {
    padding: 2em;
    margin-block: 3em;
    text-align: center;
    color: var(--light);
    background-color: var(--dark);
  }
  h1 {
    padding: 0.5rem 1rem;
  }
  h1::before {
    content: '{ ';
    color: var(--primary);
  }
  h1::after {
    content: ' }';
    color: var(--primary);
  }
  h2 {
    text-align: center;
  }
  .tutoring-when {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light);
    color: var(--dark);
    padding-block: 1em;
    min-width: fit-content;
    max-width: 75%;
    margin-inline: auto;
    padding-inline: 0.5rem;
    p {
      padding: 0;
    }
  }
  [data-icon] {
    margin-inline: auto;
  }
  .free {
    text-decoration: underline dotted var(--primary);
    text-underline-offset: 0.25em;
    text-decoration-thickness: 0.25rem;
    font-style: italic;
  }
  .free-content {
    background-color: var(--light-transparent);
    max-width: 60ch;
  }
  .categories {
    margin-inline: auto;
    color: var(--dark);
    background-color: var(--light-transparent);
    margin-block: 3em;
    max-width: 60ch;
  }
  .categories-list {
    text-align: left;
  }
</style>
