---

---

<div class="coming-soon mono">
  <p>UNDER CONSTRUCTION</p>
  <p>pardon the dust</p>
</div>

<style>
  .coming-soon {
    text-align: center;
    padding: 1em;
    margin-block: 1em;
    border: dotted var(--primary);
    background: var(--black);
  }

  p:first-child {
    font-weight: bold;
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 2.5vw + 1rem, 2.5rem);
  }
</style>
