<div class="logo skew shadow">
  <a href="/" class="fancy link">Good Egg Math</a>
</div>

<style>
  .logo {
    background: var(--primary);
  }
  .link {
    display: block;
    text-decoration: none;
    color: var(--light);
    font-size: 2.5rem;
    padding: 0.15rem 0.3rem;
    text-shadow: 0.05rem 0.1rem var(--black);
    filter: drop-shadow(0 0 0.1rem var(--dark));
    transition: all 0.2s ease-in-out;
    text-align: center;
  }
  .link:hover {
    text-shadow: 0.05rem 0.1rem var(--light);
  }
</style>
