---
import { Image } from 'astro:assets';
import logo from '../assets/logo.svg';
---

<a href="/" class="logo-link">
  <Image src={logo} alt="Good Egg Math" class="logo-image" width="500" />
</a>

<style>
  .logo-image {
    height: auto;
    /* width: 30rem; */
    transition: var(--transition);
  }
  .logo-image:hover {
    transform: scale(1.03);
  }
</style>
