---
import { Icon } from 'astro-icon/components';

interface Social {
  name: string;
  url: string;
  icon: string;
}
interface Author {
  name: string;
  social: Social[];
}

import site from '../data/site.json';
const { author }: { author: Author } = site;
---

<div class="social-links">
  {
    author.social.map(({ url, icon, name }) => (
      <a href={url} class="social" target="_blank">
        <span class="sr-only">
          Go to {name} for {author.name}
        </span>
        <Icon name={icon} />
      </a>
    ))
  }
</div>

<style>
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding-block-end: 1em;
    font-size: 0.75rem;
  }
</style>
