---
import BaseLayout from './BaseLayout.astro';
import type { MarkdownLayoutProps } from 'astro';
import Top from '../components/Top.astro';
// import HeaderNav from '../components/HeaderNav.astro';
import '../styles/mdx.css';

type Props = MarkdownLayoutProps<{
  title: string;
  author: string;
}>;

const { frontmatter, headings } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <!-- <HeaderNav headings={headings} /> -->
  <div class="content shadow mdx">
    <!-- <h1>{frontmatter.title}</h1> -->
    <slot />
    <Top />
  </div>
</BaseLayout>

<style>
  .mdx {
    padding: 2em;
    margin-block: 3em;
  }
</style>
